* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgba(245, 245, 220, 0.171);
}

/*Barra de Navegacion*/

.hero {
    position: relative;
    width: 100%;
    height: 50vh;
    background: url('https://cdn.pixabay.com/photo/2024/02/09/13/03/beach-8563083_1280.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-bottom-right-radius: 120px; 
    overflow: hidden;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.nav {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.LogoSeaHorse {
    width: 120px;
    height: 100px;
    margin-left: 30px;
}
.hero h1 {
    font-size: 48px;
    font-weight: bold;
}
.hero p {
    margin: 10px 0;
    font-size: 18px;
}
.btn {
    background: #fb64c3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

/* Ecosistemas */

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.eco{
    width: 250px;
    height: 200px;
}
.feature {
    width: 250px;
    height: 180px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px #315482;
    transition: background 0.3s ease, color 0.3s ease;
    position: relative;
    overflow: hidden;
}
.feature:hover {
    background: rgba(0, 0, 0, 0.332);
    color: white;
}
.feature h3 {
    font-size: 20px;
    font-weight: bold;
}
.feature p {
    font-size: 14px;
    margin-top: 10px;
}
.feature .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #315482af;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.feature:hover .overlay {
    opacity: 1;
}
.feature .overlay h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: "Handlee", cursive;
}

h2{
    font-family: "Handlee", cursive;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10px;
    color: #315482;
}
.custom-hr {
    border: none;
    height: 4px; 
    background: #315482; 
    width: 80%; 
    
}

/* informacion Biosfera SeaFlower*/

.container {
    margin-left: 170px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.image-box {
    width: 450px;
    height: 300px;
    background-color: #d3d3d3;
    border-radius: 10px;
    box-shadow: 0 4px 8px #315482;
    
}

.text-content {
    text-align: left;
    color: gray;
    
}

.title {
    font-size: 24px;
    font-weight: bold;
    font-family: "Handlee", cursive;
}

.line {
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-top: 5px;
}

#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 998; 
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    #close{
        float: right;
        margin: 20px;
        width: 60px;
        cursor: pointer;
    }
}
.containerEcosystem{
    background-color: #5ed7da;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    align-items: center;
}
.titulo{
    padding-top: 10px;
    color: black;
}
.Ecosystem {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #5ed7da;
        .Section{
            margin: 20px;
            background-color: #985da3;
            border: 4px solid #fb64c3;
            border-radius: 15px;
        }
        .parrafos{
            padding: 4px 10px 0 10px;
        }
        .imagenes{
            padding: 20px 0 10px 0;
            width: 200px;
            display:block;
            margin: auto;
        }
        .click-here{
            color: white;
            position: relative;
            font-size: 15px;
            margin-top: 15px;
            padding: 5px 25px 5px 25px;
            border: 2.5px solid #fb64c3;
            border-radius: 50px;
            background: none;
            cursor: pointer;
        }
        .click-here:hover{
            background-color: #5ed7da;
            color: black;
        }

}

.content-info{
    display: block;
    pointer-events: none;
    position: fixed;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    background-color: #985da3;
    border: 4px solid #fb64c3;
    border-radius: 15px;
    text-align: center;
    z-index: 1000;
    .imagenes-info{
        min-width: 180px;
        max-width: 225px;
    }
    #mitad{
        display: flex;
        justify-content: space-between;
        
    }
    .flechas{
        width: 30px;
        cursor: pointer;
    }
    .flechas:hover{
        background-color: #5ed7da;
        border-radius: 50%;
        opacity: 0.75;
    }
    .info{
        padding: 4px 10px 0 10px;
    }
}
.visible{
    opacity: 1;
    pointer-events: auto;
}

@media only screen and (max-width: 768px) {
    .Ecosystem {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        background-color: #5ed7da;
            .Section{
                margin: 0px;
                border: 4px solid #fb64c3;
            }
            .parrafos{
                padding: 4px 10px 0 10px;
            }
            .imagenes{
                width: 200px;
                display:block;
                margin: auto;
            }
            .click-here{
                color: white;
                font-size: 15px;
                margin-top: 15px;
                padding: 5px 25px 5px 25px;
                border: 2.5px solid #fb64c3;
                border-radius: 50px;
                background: none;
                cursor: pointer;
            }
            .click-here:hover{
                background-color: aqua;
                color: black;
            }
    
    }
    .content-info.visible{
        min-width: 270px;
        width: auto;
    }
    .imagenes-info{
        width: 200px;
    }
        
}
