body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 998; 
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    #close{
        float: right;
        margin: 20px;
        width: 75px;
        cursor: pointer;
    }
}
.container{
    background-color: #5ed7da;
    margin: 20px;
    text-align: center;
    align-items: center;
}
.titulo{
    padding-top: 10px;
    color: black;
}
.Ecosystem {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #5ed7da;
        .Section{
            margin: 20px;
            background-color: #985da3;
            border: 4px solid #fb64c3;
            border-radius: 15px;
        }
        .parrafos{
            padding: 4px 10px 0 10px;
        }
        .imagenes{
            padding: 20px 0 10px 0;
            width: 200px;
            display:block;
            margin: auto;
        }
        .click-here{
            color: white;
            position: relative;
            font-size: 15px;
            margin-top: 15px;
            padding: 5px 25px 5px 25px;
            border: 2.5px solid #fb64c3;
            border-radius: 50px;
            background: none;
            cursor: pointer;
        }
        .click-here:hover{
            background-color: #5ed7da;
            color: black;
        }

}

.content-info{
    display: block;
    pointer-events: none;
    position: fixed;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    background-color: #985da3;
    border: 4px solid #fb64c3;
    border-radius: 15px;
    text-align: center;
    z-index: 1000;
    .imagenes-info{
        width: 225px;
    }
    #top_info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 8px;
    }
    .flechas{
        width: 50px;
        cursor: pointer;
    }
    .info{
        padding: 4px 10px 0 10px;
    }
}
.visible{
    opacity: 1;
    pointer-events: auto;
}

@media only screen and (max-width: 768px) {
    .Ecosystem {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        background-color: #5ed7da;
            .Section{
                margin: 0px;
                border: 4px solid #fb64c3;
            }
            .parrafos{
                padding: 4px 10px 0 10px;
            }
            .imagenes{
                width: 200px;
                display:block;
                margin: auto;
            }
            .click-here{
                color: white;
                font-size: 15px;
                margin-top: 15px;
                padding: 5px 25px 5px 25px;
                border: 2.5px solid #fb64c3;
                border-radius: 50px;
                background: none;
                cursor: pointer;
            }
            .click-here:hover{
                background-color: aqua;
                color: black;
            }
    
    }
    .content-info.visible{
        min-width: 270px;
        width: auto;
    }
        
}
